@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;

    --card: 224 71% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;

    --primary: 25 95% 53%; /* Orange */
    --primary-foreground: 210 40% 98%;

    --primary-dark: 25 95% 53%;
    --primary-dark-foreground: 210 40% 98%;
    
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 215 28% 17%;
    --muted-foreground: 215 14% 65%;

    --accent: 217 91% 60%;
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 217 91% 60%;

    --radius: 0.3rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    
    --card: 224 71% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;

    --primary: 25 95% 53%; /* Orange */
    --primary-foreground: 210 40% 98%;

    --primary-dark: 25 95% 53%;
    --primary-dark-foreground: 210 40% 98%;
    
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 215 28% 17%;
    --muted-foreground: 215 14% 65%;

    --accent: 217 91% 60%;
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 217 91% 60%;

    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
