@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 10% 10%;
    
    --card: 220 20% 99%;
    --card-foreground: 224 10% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 10% 10%;

    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;

    --primary-dark: 221 83% 43%;
    --primary-dark-foreground: 210 40% 96%;
    
    --secondary: 220 15% 96%;
    --secondary-foreground: 224 10% 10%;

    --muted: 220 15% 90%;
    --muted-foreground: 220 9% 46%;

    --accent: 217 91% 60%;
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 217 91% 60%;

    --radius: 0rem;
  }

  .dark {
    --background: 224 10% 10%;
    --foreground: 210 40% 98%;
    --card: 220 12% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 220 12% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --primary-dark: 217 91% 70%;
    --primary-dark-foreground: 224 10% 10%;
    --secondary: 220 12% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 10% 20%;
    --muted-foreground: 220 9% 65%;
    --accent: 38 92% 50%;
    --accent-foreground: 224 10% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 10% 25%;
    --input: 220 10% 25%;
    --ring: 217 91% 60%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
